#me{
    margin-bottom: 215px;
}

.postMe{
    display: flex;
    position: relative;
    width: 90%;
    height: 300px;
    flex-basis: auto;
    align-items: stretch;
    flex-direction: column;
    margin: 90px auto 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.postMe::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 0px 10px 0px;
    background-color: transparent;
}
.postMe:hover::before{
    cursor: pointer;
}

.postMeTop{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.postMeTop a{
    margin-right: 15px;
    margin-left: 10px;
}

.postMeTop select{
    height: 20px;
}

.postMe textarea{
    font-size: large;
    border: none;
    resize: none;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
}
.postMe textarea:focus{
    outline: none;
}

.postMeIcons label{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    margin: 10px 0px 0px 5px;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
}

.postMeIcons label:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.postMeIcons label span{
    margin-left: 10px;
}