#profile{
    margin-top: 90px;
    width: 100%;
    overflow: hidden;
}

.userErrorMessage, .profileErrorMessage{
    color: red;
    font-size: 10px;
}

.mainProfile{
    display: flex;
    width: 100%;
    margin: 0px auto 0px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);
    z-index: 999;
    border-radius: 10px;
}

.joinedDate{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mainProfile img{
    height: 115px;
    width: 115px;
    margin-bottom: 50px;
}

.mainProfile label:hover{
    cursor: pointer;
}

.mainProfile label input{
    display: none;
}

.profileUserName{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
}
.profileUserName > span{
    padding: 10px 0px 5px 0px;
}

.btnEditProfile{
    margin-top: 50px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: 600;
    border: 1px solid rgb(4, 128, 211);
    color: rgb(4, 128, 211);;
    outline: 0;
    width: 150px;
    margin-right: 180px;
    flex-wrap: nowrap;

    position: absolute;
    top: 130px;
    right: 0;
    margin-right: 10%;
}
.btnEditProfile:hover{
    cursor: pointer;
    color: white;
    background-color: #5495e9;
}

.pUsername{
    font-size: 24px;
    font-weight: 600;
}

.pProfile{
    font-size: 16px;
    margin-top: -10px;
    font-weight: 500;
}

.editProfileHeader h2{
    width: 100%;
    font-weight: 600;
    margin-top: 5px;
}
.editProfileHeader{
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.editProfileContainer{
    display: none;
    z-index: 950;
    flex-direction: column;
    align-items: center;
    width: 250px;
    left: 15%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 5%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 15px 20px 15px;
    box-sizing: border-box;
}
.editProfileRoot::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: rgba(0,0,0, .4);
}
.editProfileContainer img{
    margin-top: 20px;
    width: 120px;
}

.editProfileContainer input{
    width: 200px;
    text-align: center;
    outline: 0;
}

.editProfileContainer textarea{
    width: 200px;
    height: fit-content;
    margin-top: 35px;
    margin-bottom: -10px;
    resize: none;
    outline: 0;
}

.editProfileContainer span{
    position: absolute;
    left: 8px;
    top: 0;
    font-size: 22px;
}

.editProfileContainer span{
    color: red;
}
.editProfileContainer span:hover{
    cursor: pointer;
}

.editButtonContainer{
    width: 100%;
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
}
.editButtonContainer button{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: 600;
    border: 1px solid rgb(4, 128, 211);
    color: rgb(4, 128, 211);;
    outline: 0;
    width: 150px;
}

.editButtonContainer a{
    text-decoration: none;
    color: rgb(211, 4, 21);
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: #5495e9;
}
.editButtonContainer button:first-child{
    color: rgb(211, 4, 21);
    border: 1px solid rgb(211, 4, 21);
    margin-right: 50px;
}

.editButtonContainer button:last-child:hover{
    cursor: pointer;
    color: white;
    background-color: #5495e9;
}
.editButtonContainer button:first-child:hover, .editButtonContainer a:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(207, 9, 26);
}

.profileInfo{
    display: flex;
    position: absolute;
    top: 200px;
    left: -25px;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    width: 250px;
    border-radius: 15px;
    margin-left: 5px;
    color: #5495e9;
    background-color: transparent;
    font-weight: 600;
}
.profileInfo p{
    margin-top: 0px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4b4f55;
}

.profileAbout{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 210px;
    background-color: #fff;
    margin-top: 60px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.profileAbout p{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4b4f55;
}
.profileAbout span{
    text-align: center;
    color: #2d3436;
    font-weight: 600;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profileFollowing{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 50%;
}

@media screen and (min-width: 500px){
    .btnEditProfile{
        position: absolute;
        right: 0;
        margin-right: 15%;
    }
}

@media screen and (min-width: 768px){
    .mainProfile{
        padding: 0px 15px 0px 100px;
    }
    .profileInfo{
        padding: 0px 15px 0px 50px;
    }
    .editProfileContainer{
        left: 40%;
    }
}