img{
    width: 65px;
    height: 45px;
}
.searchBar{
    display: flex;
    justify-content: space-between;
}

.searchBar input{
    padding: 5px 0px 5px 15px;
    border: 0px solid #f0f0f0;
    background-color: #f0f2f5;
    border-radius: 5px;
    height: 25px;
    width: 60%;
}
.searchBar input:focus{
    outline: 0;
}

.searchContainer{
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-top: 2px;
}

.searchGlass{
    position: relative;
    left: -20px;
    top: -5px;
}

.searchBar a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    outline: 0;
}

@media screen and (min-width: 200px){
    .searchBar input{
        width: 220px;
    }
    .searchGlass{
        left: -30px;
    }
}

@media screen and (min-width: 500px){
    .searchBar input{
        width: 50%;
    }
    img{
        width: 80px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    .searchBar{
        margin-left: 50px;
    }
}

@media screen and (min-width: 900px){
    .searchBar{
        margin-left: 50px;
    }
}